.Logo {
  background-color: white;
  padding: 8px;
  height: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}

.Logo img {
  height: 100%;
}

.Logo h3 {
  position: relative;
  top: -1.5rem;
  padding-left: 3.3rem;
  font-size: 1rem;
}

.Logo a {
    text-decoration: none;
    color: brown;
}

.Logo a:hover {
    color: tomato;
}
