body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-image: url("https://res.cloudinary.com/di9sejvs7/image/upload/v1624869960/background_sexu2l.webp");
  background-size: cover;
  color: white;
}

input {
  border-radius: 10px;
}

select {
  border-radius: 10px;
}
